<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Index</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1>North County Christian School</h1>
    <br>
    <h6>Please sign in with a Google account to save your registration.
      <br>We save your form with a secure database so you only have to update necessary yearly information.</h6>
    <a href="/auth/google">Sign In with Google</a>
    <hr>
    <h6>If you don't have a Google account you can register without one.</h6>
    <a href="/form">Register without signing in</a>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

  </body>
</html>
