<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1>Login Here</h1>

    <form method="post">

      <label class='label'>Email:</label>
      <input type="text" name="email" class="form-control" required>
      <label class='label'>Password:</label>
      <input type="password" name="password" class="form-control" required>
      <br>
      <button type="submit" name='submit' class="btn btn-primary" value='submit'>Register</button>

    </form>

  </body>
</html>

