<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Submitted Forms</h1>
    <% for (var i =0; i <title.length;  i++ ) { %>
      <br/>  <a href="student?id=<%= title[i]._id %>"><%= title[i].firstName %> <%= title[i].lastName %></a>
    <% } %>
  </body>
</html>
